<template>
  <div>
    <v-card
        height="auto">
      <v-card-title class="text-h5 white--text" style="background-color: #00646C">
        Gruppe Hinzufügen
      </v-card-title>
      <v-card-text>
        <v-form @submit.prevent="addGroup"
                v-model="valid"
                ref="form"
                lazy-validation
        >
          <v-row>
            <v-col
                cols="12"
                md="6">
              <v-text-field
                  v-model="groupName"
                  label="Group Name"
                  height="43"
                  :rules="nameRules"
                  :counter="15"
                  required
              ></v-text-field>

            </v-col>
            <v-col
                col="12"
                md="6">
              <div class="form__label">
                <strong>Please choose a color:</strong>
              </div>

              <div class="form__input">
                <v-swatches
                    v-model="color"
                    show-fallback
                    fallback-input-type="color"
                    swatch-size=30
                    popover-y="bottom"
                    popover-x="right"
                ></v-swatches>
              </div>

            </v-col>
          </v-row>

          <v-combobox
              label="Gruppen Tag"
              v-model="model"
              :filter="filter"
              :hide-no-data="!search"
              :items="this.$store.state.allTags"
              :search-input.sync="search"
              hide-selected
              multiple
              small-chips
              dense
              class="mt-7"
          >

            <template v-slot:no-data>
              <v-list-item>
                <span class="subheading">Create</span>
                <v-chip
                    :color="`${colors[nonce - 1]} lighten-3`"
                    label
                    small
                >{{ search }}
                </v-chip>
              </v-list-item>
            </template>

            <template v-slot:selection="{ attrs, item, parent, selected }">
              <v-chip
                  class="mb-1 mt-1"
                  v-if="item === Object(item)"
                  v-bind="attrs"
                  :color="`${item.color} lighten-3`"
                  :input-value="selected"
                  label
                  small
              >
                <span class="pr-2">{{item.text }}</span>
                <v-icon
                    small
                    @click="parent.selectItem(item)"
                >
                  $delete
                </v-icon>
              </v-chip>
            </template>

            <template v-slot:item="{index, item }">
              <v-text-field
                  v-if="editing === item"
                  v-model="editing.item.text"
                  autofocus
                  flat
                  background-color="transparent"
                  hide-details
                  solo
                  @keyup.enter="edit(index, item)"
              ></v-text-field>
              <v-chip
                  v-else
                  :color="`${item.color} lighten-3`"
                  dark
                  label
                  small
              >
                {{ item.text }}
              </v-chip>
            </template>


          </v-combobox>


          <v-textarea
              v-model="groupDescription"
              label="Group Description"
              no-resize
              rows="2"
              class="mt-7"
              :counter="250"
              :rules="descriptionRules"
              required
          ></v-textarea>

          <!-- Absende Button für Form Add Group -->
          <v-btn
              color="#00646c"
              :disabled="!valid"
              outlined
              v-on:click="$emit('testclick'); addGroup();validate()">
            Gruppe erstellen
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import VSwatches from 'vue-swatches'
import store from "@/store";

export default {
  components: {
    VSwatches
  },
  name: "AddGroup",
  data: () => ({
    // valid:false,
    valid: true,

    //validation form
    nameRules: [
      v => !!v || 'Name is required',
      v => v.length >= 2 || 'Name must be more than 5 characters',
      v => v.length <= 15 || 'Name must be less than 15 characters',
    ],
    descriptionRules: [
      v => !!v || 'Description is required',
      v => v.length >= 5 || 'Name must be more than 5 characters',
      v => v.length <= 250 || 'Name must be less than 150 characters',
    ],
    groupName: '',
    groupDescription: '',
    colorPicker: '',
    color: "",
    colors: ['green', 'purple', 'indigo', 'cyan', 'teal', 'orange'],
    dialog: false,
    model: [],
    items: [
      {header: 'Select an option or create one'},
      {
        text: 'Fitness',
        color: 'blue',
      },
      {
        text: 'Technik',
        color: 'red',
      },
    ],
    editing: null,
    nonce: 1,
    x: 0,
    search: null,
    y: 0,

  }),


  watch: {
    model(val, prev) {
      if (val.length === prev.length) return

      this.model = val.map(v => {
        if (typeof v === 'string') {
          v = {
            text: v,
            color: this.colors[this.nonce - 1],
          }
          this.items.push(v)
          this.nonce++
        }
        return v
      })
    },
  },

  async mounted() {
    await this.$store.dispatch("getAllTags")
  },


  methods: {
    validate() {
      this.$refs.form.validate()
    },

    async addGroup() {
      await store.dispatch('addGroup', {
        groupName: this.groupName,
        groupDescription: this.groupDescription,
        color: this.color,
        tagEntityList: this.model
      });
      this.model = []
      await store.dispatch('getSignedInUser');
      await this.$store.dispatch("getAllTags")
      console.log(store.state.users)
    },


    filter(item, queryText, itemText) {
      if (item.header) return false

      const hasValue = val => val != null ? val : ''

      const text = hasValue(itemText)
      const query = hasValue(queryText)

      return text.toString()
          .toLowerCase()
          .indexOf(query.toString().toLowerCase()) > -1
    },


  }
}
</script>

<style>


</style>
