<template>
  <div>
    <v-list-group class="mx-2"
                  :value="true"
                  color="grey">
      <template v-slot:activator>
        <v-list-item-title class="text--primary font-weight-light">Meine Chats</v-list-item-title>
      </template>

      <v-divider></v-divider>


      <v-list-item v-for="chat in this.$store.state.AllChats" :key="chat.chatId"
                   @click="openChat(chat.userEntity)">

        <v-list-item-avatar color="grey darken-1">
          <img :src="require('../../assets/avatar/'+chat.userEntity.userImage)">
        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="text-start">{{ chat.userEntity.firstname }} {{ chat.userEntity.lastname }}
          </v-list-item-title>
          <v-list-item-action-text class="text-start">{{
              getLastMessage(chat.messageEntityList)
            }}
          </v-list-item-action-text>
        </v-list-item-content>


      </v-list-item>


    </v-list-group>
  </div>
</template>

<script>
export default  {
  name: "MyChat",

  data: () => (
      {
        show1: false,
      }),
  methods: {
    getLastMessage(messages) {
      return messages[messages.length - 1].messageText
    },
    openChat(user) {
      if (this.$route.path == "/privat-chat/") {
        this.$store.dispatch("privateChat", user.userId)
      } else {
        this.$store.dispatch("privateChat", user.userId).then(this.$router.push("/privat-chat/"))
      }
      this.$store.commit("setChatUserInfo", user)
    }
  }

}
</script>

<style scoped>

</style>
