<template>
  <div>
    <!--Gruppen Übersicht oben-->
    <div>
      <v-row style="background-color: #00646C" class="elevation-3 rounded">
        <v-col cols="6">
          <h2 class="white--text font-weight-light pa-2"
          >Gruppen Übersicht</h2>
        </v-col>
        <v-col cols="6">
          <v-dialog
              width="800"
              v-model="dialog"
          >
            <!--Add group Button -->
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                  color="white"
                  outlined
                  v-bind="attrs"
                  v-on="on"
                  class="mr-2 float-end mt-2"
              > Add new Group
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </template>
            <!--add group form component routing-->
            <add-group @testclick="dialog=false"></add-group>
          </v-dialog>
        </v-col>
      </v-row>
    </div>


    <!--mitte-->
    <div class="mt-3">
      <!--overview group buttons with color ?!?!-->
      <v-sheet class="py-3  overflow-x-hidden overflow-y-auto" height="74vh">
        <v-container fluid>
          <!--Meine Gruppen-->
          <v-row>
            <v-col cols="12">
              <h2 class="text-sm-h5 mt-5">Alle Gruppen</h2>
            </v-col>

            <v-col>
              <v-btn
                  class="font-weight-light"
                  @click=" show2 = !show2"
              >Filter bissi
                <v-icon>{{ show2 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-expand-transition>
            <div v-show="show2">
              <v-row>
                <v-col cols="6">
                  <v-text-field
                      v-model="searchNameMyGroups"
                      label="Gruppen Name"
                      style="width: 90%"
                      class="mx-3"
                      prepend-icon="mdi-comment-search-outline"
                  ></v-text-field>
                </v-col>
              </v-row>
            </div>
          </v-expand-transition>
          <v-row dense class="mt-5">

            <!--show my Groups-->
            <v-col
                v-for="j in filteredListMyGroups"
                :key="j.groupId"
                cols="12"
                md="3"
            >
              <v-tooltip top :color=j.color>
                <template v-slot:activator="{on, attrs}">

                  <div v-bind="attrs"
                       v-on="on">

                    <v-card
                        class="mb-3 mx-1 overflow-y-auto shadowTest"
                        style="background-color: rgba(255,255,255,0.1)"
                        min-height="230px"
                        max-height="230px"
                    >
                      <v-card
                          elevation="2"
                          height="100"
                          :color=j.color
                          shaped
                          class="mb-1"
                          @click="showGroupBtn(j.groupId)">
                        <h3 class="text-center pt-10 font-weight-bold white--text">{{ j.groupName }}</h3>
                      </v-card>

                      <v-list-item-action-text class="ml-1">Gruppen Tags:</v-list-item-action-text>
                      <v-spacer></v-spacer>

                      <v-chip
                          v-for="tag in j.tagEntityList"
                          :key="tag.tagId"
                          class="mx-1 my-1 white--text"
                          :color=j.color
                          small
                      >
                        #{{ tag.text }}
                      </v-chip>

                      <v-divider></v-divider>

                      <v-card-subtitle>Group Description :</v-card-subtitle>
                      <v-card-text
                          class="v-size--x-small"
                      >{{ j.groupDescription }}
                      </v-card-text>

                      <v-divider></v-divider>

                      <div class="center text-center mx-1 my-1 ">
                        <v-menu
                            bottom
                            rounded
                            offset-y
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                                icon
                                v-on="on"
                            >
                              <v-badge
                                  :content="j.userEntityList.length"
                                  transition="slide-y-transition"
                                  class="mb-7 mr-3"
                                  :color=j.color
                              ></v-badge>

                              <v-icon
                                  x-large
                                  class="mr-3"
                                  :color=j.color
                              >mdi-account-group
                              </v-icon>
                            </v-btn>
                          </template>


                          <v-card width="200px" max-height="350px" class="overflow-y-auto">
                            <v-list>
                              <v-subheader>Alle Teilnehmer:</v-subheader>
                              <v-list-item-group>
                                <v-list-item
                                    class="mt-2"
                                    v-for="member in j.userEntityList "
                                    :key="member.groupId">
                                  <v-list-item-avatar
                                      class="avatar"
                                      size="43">
                                    <img
                                        :src="require('../../assets/avatar/'+ member.userImage)"
                                        style="background-size: cover">
                                  </v-list-item-avatar>
                                  <v-list-item-subtitle class="ml-3">{{ member.firstname }}</v-list-item-subtitle>
                                  <br>
                                </v-list-item>
                              </v-list-item-group>
                            </v-list>

                          </v-card>
                        </v-menu>
                        <v-icon
                            large
                            @click="deleteGroup(j.groupId)"
                            :color=j.color
                            v-if="$store.state.user.userId === j.groupAdmin"
                            v-bind="attrs"
                            v-on="on">
                          mdi-delete
                        </v-icon>
                      </div>
                    </v-card>
                  </div>
                </template>
                <span>Scroll ein bissi</span>
              </v-tooltip>
            </v-col>
          </v-row>

          <v-divider></v-divider>


          <!--alle Gruppen -->
          <v-row>
            <v-col>
              <h2 class="text-sm-h5 mt-5">Alle Gruppen</h2>
            </v-col>

            <v-col cols="12">
              <v-btn
                  @click="show1 = !show1"
                  class="font-weight-light"
              >Filter bissi
                <v-icon>{{ show1 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-col>
          </v-row>

          <v-expand-transition>
            <div v-show="show1">
              <v-row>
                <v-col cols="6">
                  <v-text-field
                      v-model="searchNameAllGroups"
                      label="Gruppen Name"
                      style="width: 90%"
                      class="mx-3"
                      color="grey"
                      prepend-icon="mdi-comment-search-outline"
                  ></v-text-field>
                </v-col>
              </v-row>
            </div>
          </v-expand-transition>

          <v-row dense class="mt-5">
            <v-col
                v-for="j in filteredListAllGroups"
                :key="j.groupId"
                cols="12"
                md="3"
            >
              <v-tooltip top :color=j.color>
                <template v-slot:activator="{on, attrs}">
                  <div v-bind="attrs"
                       v-on="on">
                    <!--Gruppen Cards -->
                    <v-card
                        class="mb-3 mx-1 overflow-y-auto"
                        style="background-color: rgba(255,255,255,0.1)"
                        min-height="230px"
                        max-height="230px">
                      <v-card
                          elevation="2"
                          height="100"
                          :color=j.color
                          shaped>
                        <h3 class="text-center pt-10 font-weight-bold white--text">{{ j.groupName }}</h3>

                      </v-card>
                      <v-list-item-action-text class="ml-1">Gruppen Tags:</v-list-item-action-text>
                      <br>

                      <v-chip
                          v-for="tag in j.tagEntityList"
                          :key="tag.tagId"
                          class="mx-1 my-1 white--text"
                          :color=j.color
                          small
                      >
                        {{ tag.text }}
                      </v-chip>
                      <div class="my-3 align-center center text-center">
                        <v-btn :color=j.color outlined @click="joinGroup(j.groupId)">Teilnehmen</v-btn>
                      </div>

                      <v-divider></v-divider>
                      <v-card-subtitle>Group Description :</v-card-subtitle>
                      <v-card-text class="v-size--x-small">{{ j.groupDescription }}</v-card-text>

                      <v-divider></v-divider>
                      <div class="my-1 align-center center text-center">

                        <v-menu
                            bottom

                            rounded
                            offset-y
                        >
                          <template v-slot:activator="{ on }">
                            <v-btn
                                icon
                                v-on="on"

                            >
                              <v-badge
                                  :content="j.userEntityList.length"
                                  transition="slide-y-transition"
                                  class="mb-7 mr-3"
                                  :color=j.color
                              ></v-badge>

                              <v-icon
                                  x-large
                                  class="mr-3"
                                  :color=j.color
                              >mdi-account-group
                              </v-icon>
                            </v-btn>
                          </template>

                          <!--Anzeige der Teilnehmer in der Gruppe -->
                          <v-card width="200px" max-height="350px" class="overflow-y-auto">
                            <v-list>
                              <v-subheader>Alle Teilnehmer:</v-subheader>
                              <v-list-item-group>
                                <v-list-item
                                    class="mt-2"
                                    v-for="member in j.userEntityList "
                                    :key="member.groupId">
                                  <v-list-item-avatar
                                      class="avatar"
                                      size="43">
                                    <img
                                        :src="require('../../assets/avatar/'+ member.userImage)"
                                        style="background-size: cover">
                                  </v-list-item-avatar>
                                  <v-list-item-subtitle class="ml-3">{{ member.firstname }}</v-list-item-subtitle>
                                  <br>
                                </v-list-item>
                              </v-list-item-group>
                            </v-list>

                          </v-card>
                        </v-menu>
                        <v-icon
                            large class="mr-2" :color=j.color
                            @click="deleteGroup(j.groupId)"
                            v-if="$store.state.user.userId === j.groupAdmin"
                            v-bind="attrs"
                            v-on="on">
                          mdi-delete
                        </v-icon>


                      </div>
                    </v-card>
                  </div>
                </template>
                <span>Scroll ein bissi</span>
              </v-tooltip>
            </v-col>
          </v-row>


        </v-container>
      </v-sheet>
    </div>
  </div>
</template>

<script>

import addGroup from "@/components/user/AddGroup";


export default {
  name: "OverviewGroup.vue",
  components: {
    addGroup
  },
  data() {
    return {
      show1: false,
      show2: false,
      dialog: false,
      groupName: '',
      groupDescription: '',
      groupColor: '',
      groupTegs: ['Fitness', 'Sport', 'Workout', 'Angular', 'Wellness'],
      show: false,
      searchNameMyGroups: '',
      searchNameAllGroups: '',
      hoverg: false,
      messages: "20",
      filterGroups: [],


    }
  },
  props: {
    user: Object,
  },
  computed: {
    thisUser() {
      return this.$store.state.user.groupEntityList
    },

    filteredListAllGroups() {
      return this.$store.state.groups.filter(post => {
        return post.groupName.toLowerCase().includes(this.searchNameAllGroups.toLowerCase())

      })
    },
    filteredListMyGroups() {
      return this.$store.state.user.groupEntityList.filter(post => {
        return post.groupName.toLowerCase().includes(this.searchNameMyGroups.toLowerCase())

      })
    },

  },
  async mounted() {
    //await this.$store.dispatch("allGroups")
    await this.$store.dispatch("getAllGroups")

  },
  methods: {
    showGroupBtn(group) {
      //this.$store.state.selectedGroup = group;
      this.$router.push("/smp-overview/" + group)
    },
    async deleteGroup(id) {
      console.log(id)
      await this.$store.dispatch("deleteGroup", id)
      await this.$store.dispatch('getSignedInUser')
    },
    async joinGroup(groupId) {
      await this.$store.dispatch("joinGroup", groupId)
      await this.$store.dispatch("getAllGroups")
      await this.$store.dispatch('getSignedInUser')
    }

  },
}
</script>

<style scoped>

::-webkit-scrollbar {
  /*color: rgba(255, 255, 255, 0);*/
  color: #00646C;
  width: 0;

}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*background: rgba(255, 255, 255, 0);*/
  background: #00646C;

}

.v-card--reveal {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.avatar {
  border: #00646C 2.5px solid;
  background-color: white
}

</style>
