<template>
  <div>
    <v-list-group class="mx-2"
                  :value="true"
                  color="grey">

      <template v-slot:activator>
        <v-list-item-title
            class="text--primary font-weight-light">Meine Gruppen
        </v-list-item-title>
      </template>
      <v-divider></v-divider>

      <v-list-item
          v-for="n in this.$store.state.user.groupEntityList"
          :key="n.groupId"
          link
      >
        <v-list-item-avatar :color=n.color>
        </v-list-item-avatar>
        <v-list-item-content
            @click="showGroupBtn(n.groupId)">

          <v-list-item-title>{{ n.groupName }}</v-list-item-title>
          <v-list-item-subtitle>{{ n.groupDescription }}</v-list-item-subtitle>

        </v-list-item-content>
      </v-list-item>
    </v-list-group>

  </div>
</template>

<script>
export default {
  name: "UserGroups",
  methods: {
    showGroupBtn(group) {
      this.$router.push("/smp-overview/" + group)
    },
    async mounted() {
      //await this.$store.dispatch("allGroups")
      this.$store.dispatch("getChats")


    }
  }
}
</script>

<style scoped>

</style>
