<template>
<div>
  <v-card class="mx-2">
    <div class="mb-3 ">
      <v-btn
          icon
          @click="show2 = !show2"
      > My Friends
        <v-icon class="ml-10">{{ show2 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>

      </v-btn>
    </div>
  </v-card>
  <v-expand-transition>
    <div v-show="show2">
      <v-divider></v-divider>

      <v-list two-line>
        <template v-for="n in 6">
          <v-list-item

              :key="n"
          >
            <v-list-item-avatar color="grey darken-1">
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>FriendsName</v-list-item-title>

              <v-list-item-subtitle>
                #gemeinsame Freunde??
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>

    </div>
  </v-expand-transition>
</div>
</template>

<script>
export default {
  name: "UserFriends",
  data: () => (
      {
        show2: true,
      }),
}
</script>

<style scoped>

</style>