<template>
  <div>
    <template>
      <v-list-item>

        <v-list-item-avatar  @click="openProfilInfo"
                             class="avatar elevation-3"
                             height="50px"
                             width="50px"
                             color="white">
          <img :src="require('../../assets/avatar/'+this.$store.state.user.userImage)"  >

        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title class="mt-5">{{ this.$store.state.user.firstname }}
            <v-dialog
                v-model="dialog"
                width="500"
            >

              <template v-slot:activator="{ on, attrs }">
                <v-btn
                    icon
                    color="primary"
                    v-bind="attrs"
                    v-on="on"
                    class="float-end"
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                </v-btn>
              </template>

              <v-card>
                <v-card-title class="text-h5 white--text" style="background-color: #00646C">
                  Profil Bearbeíten
                </v-card-title>

                <v-card-text>
                  <v-row align="center">
                    <v-col cols="12">
<!--                      <v-select-->
<!--                          :items="items"-->
<!--                          :menu-props="{ top: true, offsetY: true }"-->
<!--                          label="Select Avatar"-->
<!--                      ></v-select>-->

                      <v-list-item-avatar size="x-large" class="avatar" height="100px" width="100px" @click="showBildSelect()" color="white">
                        <img :src="bildSrc" >
                      </v-list-item-avatar>
                      <div class="Bild-Select-Container" v-if="bildSelect">
                        <fieldset >
                          <img src="../../assets/avatar/avatar1.png" class="profilbild" @click="setBild('avatar1.png')">
                          <img src="../../assets/avatar/avatar2.png" class="profilbild" @click="setBild('avatar2.png')">
                          <img src="../../assets/avatar/avatar3.png" class="profilbild" @click="setBild('avatar3.png')">
                          <img src="../../assets/avatar/avatar4.png" class="profilbild" @click="setBild('avatar4.png')">
                          <img src="../../assets/avatar/avatar5.png" class="profilbild" @click="setBild('avatar5.png')">
                          <img src="../../assets/avatar/avatar6.png" class="profilbild" @click="setBild('avatar6.png')">
                          <img src="../../assets/avatar/avatar7.png" class="profilbild" @click="setBild('avatar7.png')">
                          <img src="../../assets/avatar/avatar8.png" class="profilbild" @click="setBild('avatar8.png')">
                          <img src="../../assets/avatar/avatar9.png" class="profilbild" @click="setBild('avatar9.png')">
                          <img src="../../assets/avatar/avatar10.png" class="profilbild" @click="setBild('avatar10.png')">
                          <img src="../../assets/avatar/avatar11.png" class="profilbild" @click="setBild('avatar11.png')">
                          <img src="../../assets/avatar/avatar12.png" class="profilbild" @click="setBild('avatar12.png')">
                          <img src="../../assets/avatar/avatar13.png" class="profilbild" @click="setBild('avatar13.png')">
                          <img src="../../assets/avatar/avatar14.png" class="profilbild" @click="setBild('avatar14.png')">
                        </fieldset>
                      </div>

                      <v-text-field
                          v-model="firstname"
                          :counter="10"
                          label="Vorname"
                          required
                      ></v-text-field>

                      <v-text-field
                          v-model="lastname"
                          :counter="10"
                          label="Nachname"
                          required
                      ></v-text-field>
                      <v-text-field
                          v-model="wohnort"
                          :counter="10"
                          label="Wohnort"
                          required
                      ></v-text-field>
                      <v-text-field
                          v-model="status"
                          :counter="50"
                          label="Status"
                          required
                      ></v-text-field>

                    </v-col>
                  </v-row>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                      color="indigo"
                      outlined
                      text
                      @click="setUserInfo()"
                  >
                    Speichern
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-list-item-title>
        </v-list-item-content>
      </v-list-item>


      <v-divider></v-divider>
    </template>


  </div>
</template>

<script>


export default {
  name: "UserEdit",
  components: {},
  data() {
    return {
      dialog: false,
      items:['rgba','#','blue', 'green'],
      firstname:this.$store.state.user.firstname,
      lastname:this.$store.state.user.lastname,
      wohnort:this.$store.state.user.wohnort,
      bildSelect: false,
      bild:this.$store.state.user.userImage,
      status:this.$store.state.user.status,

    }
  },
  methods: {
    openProfilInfo(){
      this.$router.push("/user-profile/" )
    },
    showBildSelect() {
      this.bildSelect = !this.bildSelect;
    },
    setBild(bildName){
      this.bild = bildName
      this.bildSelect = !this.bildSelect;
    },
    async setUserInfo(){
      this.$router.go()
      this.dialog = false
      await this.$store.dispatch("setUserInfo", {
        firstname:this.firstname,
        lastname:this.lastname,
        wohnort:this.wohnort,
        userImage:this.bild,
        status:this.status,
        email:this.$store.state.user.email
      })

    }
  },
  computed:{
    bildSrc(){
      return require('../../assets/avatar/'+this.bild)
    }
  }
}
</script>

<style scoped>
.profilbild{
  width: min-content;
  width: 60px;
  border: #00646C 1px solid;
  border-radius: 75px;
  margin: 3px;
}
.avatar{
  width: 150px;
  height: 150px;
  border: #00646C 2.5px solid;
  border-radius: 75px;
}
.bildContainer {
  padding: 0;
  margin-left: 35px !important;
}
.Bild-Select-Container {
  position: absolute;
  width: 275px;
  background-color: white;
  border: lightgray 1px solid;
  z-index: 10000000000000000;
}

</style>
