<template>
  <div>
    <v-row style="background-color:#00646C" class="elevation-3 rounded">
      <v-col cols="6" >
        <h2 class="white--text font-weight-light pa-2">Mein Profil Übersicht</h2>
      </v-col>
      <v-col cols="6">
        <v-btn color="white" outlined class="float-end mr-2 mt-2">
          <router-link to="/user" class="white--text">Gruppen Übersicht</router-link>
        </v-btn>
      </v-col>
    </v-row>


    <div class="mt-3">
      <v-sheet class=" py-3 overflow-y-auto overflow-x-hidden" height="75vh">
        <v-container class="py-3 overflow-x-hidden  " fluid>
          <v-row align="center">
            <v-col cols="12" md="6">
              <v-card class="mb-3 mx-1 ml-5"
                      style="background-color: rgba(255,255,255,0.1)"
                      min-height="350px"
                      max-height="270px"
                      elevation="3"
              >
                <div class="mx-10 my-5"
                     justify="center">
                  <h3 class="pt-5 pb-2">Vor& Nachname:</h3>
                  <h2 class="font-weight-light" style="color: #00646C"> {{ profilInfo.firstname }} {{ profilInfo.lastname }}</h2>
                  <v-divider></v-divider>
                  <h3 class="pt-2"> Wohnort: </h3>
                  <h2 class="font-weight-light">{{ profilInfo.wohnort }}</h2>
                  <v-divider></v-divider>
                  <h3 class="pt-2">Email:</h3>
                  <h2 class="font-weight-light">{{profilInfo.email}}</h2>
                  <v-divider></v-divider>
                  <h3 class="pt-2"> Status: </h3>
                  <h2 class="font-weight-light">{{ profilInfo.status }}</h2>
                  <v-divider></v-divider>
                </div>
              </v-card>
            </v-col>

            <v-col cols="12" md="6">
              <v-list-item-avatar
                  class="float-end mr-10 avatar elevation-3"
                  color=""
                  width="370px"
                  height="370px"
              >
                <img :src="require('../../assets/avatar/'+profilInfo.userImage)" >
              </v-list-item-avatar>
            </v-col>
          </v-row>
          <v-divider class="mt-3"></v-divider>
            <v-card-title>Alle meine Beiträge </v-card-title>
          <v-row >

            <v-col
                v-for="(groupInfo, index) in profilInfo.postList"
                :key="index"
                cols="6"
                class="d-flex justify-center"
            >
              <post-card class="mt-4" :groupDetails="groupInfo"></post-card>
            </v-col>
          </v-row>
        </v-container>
      </v-sheet>

    </div>
  </div>
</template>

<script>
import postCard from "@/components/smp/PostCard";
import store from "@/store";
export default {
  name: "UserProfil",

  data() {
    return {

    }
  },
  components:{
    postCard
  },
  computed:{
    profilInfo(){
      return this.$store.state.user
    }
  },
 async mounted() {
    await store.dispatch('getSignedInUser')
    await this.$store.dispatch("getChats")
  }
}
</script>

<style scoped>
.avatar {

  border: #00646C 2.5px solid;
}
</style>
