<template>
<div>
  <v-container class="mt-10 mb-10">
    <h2 class="text-center mt-5 text-uppercase"> Ich freue mich auf deine Nachricht</h2>
    <v-card flat>
      <v-snackbar
          v-model="snackbar"
          absolute
          bottom
          right
          color="success"
      >
        <span>Send Email successful!</span>
        <v-icon dark>
          mdi-checkbox-marked-circle
        </v-icon>
      </v-snackbar>
      <v-form
          ref="form"
          @submit.prevent="submit"
      >
        <v-container fluid>
          <v-row>
            <v-col
                cols="12"
                sm="6"
            >
              <v-text-field
                  v-model="form.first"
                  :rules="rules.name"
                  color="purple darken-2"
                  label="First name"
                  required
              ></v-text-field>
            </v-col>
            <v-col
                cols="12"
                sm="6"
            >
              <v-text-field
                  v-model="form.last"
                  :rules="rules.name"
                  color="blue darken-2"
                  label="Last name"
                  required
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-textarea
                  v-model="form.bio"
                  color="teal"
              >
                <template v-slot:label>
                  <div>
                    Bio <small>(optional)</small>
                  </div>
                </template>
              </v-textarea>
            </v-col>

            <v-col cols="12">
              <v-checkbox
                  v-model="form.terms"
                  color="green"
              >
                <template v-slot:label>
                  <div @click.stop="">
                    Do you accept the
                    <a
                        href="#"
                        @click.prevent="terms = true"
                    >terms</a>
                    and
                    <a
                        href="#"
                        @click.prevent="conditions = true"
                    >conditions?</a>
                  </div>
                </template>
              </v-checkbox>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>

          <v-spacer></v-spacer>
          <v-btn
              :disabled="!formIsValid"
              text
              color="primary"
              type="submit"
          >
            Send Email
          </v-btn>
        </v-card-actions>
      </v-form>
      <v-dialog
          v-model="terms"
          width="70%"
      >
        <v-card>
          <v-card-title class="text-h6">
            Terms
          </v-card-title>
          <v-card-text
              v-for="n in 5"
              :key="n"
          >
            {{ content }}
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                text
                color="purple"
                @click="terms = false"
            >
              Ok
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-dialog
          v-model="conditions"
          width="70%"
      >
        <v-card>
          <v-card-title class="text-h6">
            Conditions
          </v-card-title>
          <v-card-text
              v-for="n in 5"
              :key="n"
          >
            {{ content }}
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                text
                color="purple"
                @click="conditions = false"
            >
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>
  </v-container>
</div>
</template>

<script>
export default {
  name: "LandingPageForm",
  data () {
    const defaultForm = Object.freeze({
      first: '',
      last: '',
      bio: '',
      terms: false,
    })

    return {
      form: Object.assign({}, defaultForm),
      rules: {
        name: [val => (val || '').length > 0 || 'This field is required'],
      },
      conditions: false,
      content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc.',
      snackbar: false,
      terms: false,
      defaultForm,
    }
  },

  computed: {
    formIsValid () {
      return (
          this.form.first &&
          this.form.last &&
          this.form.terms
      )
    },
  },

  methods: {
    resetForm () {
      this.form = Object.assign({}, this.defaultForm)
      this.$refs.form.reset()
    },
    submit () {
      this.snackbar = true
      this.resetForm()
    },

    },
}
</script>

<style scoped>

</style>