<template>
<div>
  <v-card ref="form"  class="owncolors">
      <v-card-text>
        <v-text-field
            v-model="email"
            :rules="[rules.required, rules.email]"
            label="E-mail"
            color="#00646C"

        ></v-text-field>
        <v-text-field
            color="#00646C"
            v-model="password"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="[rules.required, rules.min]"
            :type="show1 ? 'text' : 'password'"
            name="input-10-1"
            label="password"
            hint="At least 8 characters"
            counter
            @click:append="show1 = !show1"
        ></v-text-field>


      </v-card-text>
      <v-divider class="mt-5"></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
            color="grey"
            text
            @click="submitLogin"
            :disabled="!formIsValid"
        >
          Login
        </v-btn>


      </v-card-actions>

    </v-card>
</div>
</template>

<script>

export default {
  name: "login-component",


  data(){
    return {
      email: '',
      show1: false,
      password: '',
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        }
      },
    }
  },
  methods:{
    formIsValid(

    ){},
    async submitLogin(){
      try{
        await this.$store.dispatch('login',{
          email: this.email,
          userPassword: this.password,
        })
        await this.$router.push('/user')
        await console.log("servas")
      }catch (err){
        console.log("no working login")
      }
    },
  }
}
</script>

<style scoped>
.owncolors{
  background-color: rgba(255,255,255,0.3)!important;
  backdrop-filter: blur(5px)!important;
  box-shadow: 0 25px 45px rgba(0,0,0,0.1)!important;
  z-index: 999!important;
}

</style>
