<template>
<div>

  <router-link to="/login" v-if="this.$store.state.user == null">
    <v-icon large>login</v-icon>
  </router-link>

  <router-link to="/login" v-if="this.$store.state.user != null">
    <v-icon large @click="logoutUser()" >logout</v-icon>
  </router-link>
  <v-icon @click="toggleTheme" large>sunny
  </v-icon>

</div>
</template>

<script>
export default {
  name: "login-nav",
  methods:{
    toggleTheme(){
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    },
    logoutUser(){
      console.log("1")
      this.$store.dispatch("logout")
    }
  }
}
</script>

<style scoped>

</style>