<template>
<div>
  <v-form >
  <v-card ref="form" class="owncolors">
    <v-card-text>
      <v-text-field
          v-model="firstName"
          color="#00646C"
          :rules="[rules.required,]"
          label="Vorname"
      ></v-text-field>
      <v-text-field
          v-model="lastName"
          color="#00646C"
          :rules="[rules.required,]"
          label="Nachname"

      ></v-text-field>
      <v-text-field
          v-model="address"
          color="#00646C"
          :rules="[rules.required,]"
          label="Adresse"

      ></v-text-field>
      <v-text-field
          v-model="email"
          color="#00646C"
          :rules="[rules.required, rules.email]"
          label="E-mail"
      ></v-text-field>
      <v-text-field
          v-model="password"
          color="#00646C"
          :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
          :rules="[rules.required, rules.min]"
          :type="show1 ? 'text' : 'password'"
          name="input-10-1"
          hint="At least 8 characters"
          counter
          placeholder="password"
          @click:append="show1 = !show1"
      ></v-text-field>

      <v-checkbox >
        <template v-slot:label>
          <div>
            ich möchte ein
            <v-tooltip bottom >
              <template v-slot:activator="{ on }">
                <a
                    target="_blank"
                    @click.stop
                    v-on="on"
                    style="color: black"
                >
                 Business Profile
                </a>
              </template>
              schalte jetzt werbung !!
            </v-tooltip>
          </div>
        </template>
      </v-checkbox>
    </v-card-text>

    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
          color="grey"
          text
          @click="submit"
      >
        Regestrierung
      </v-btn>
    </v-card-actions>
  </v-card>
  </v-form>
</div>
</template>

<script>
export default {
  name: "registration-component",

  data () {
    return {

      show1: false,
      email: '',
      firstName: '',
      lastName: '',
      address: '',
      password: '',
      rules: {
        required: value => !!value || 'Required.',
        min: v => v.length >= 8 || 'Min 8 characters',
        email: value => {
          const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      },
    }
  },
  methods: {
        async submit() {
          try {
            await this.$store.dispatch('register', {
              firstname: this.firstName,
              lastname: this.lastName,
              email: this.email,
              wohnort: this.address,
              userPassword: this.password,
              userImage: 'lala',
              userName: 'kommt noch'
            })
            await this.$router.push('/user')

          } catch (err) {
            console.log("no working registration")
          }
        },


  },

}
</script>

<style scoped>
.owncolors{
  background-color: rgba(255,255,255,0.3)!important;
  backdrop-filter: blur(5px)!important;
  box-shadow: 0 25px 45px rgba(0,0,0,0.1)!important;
  z-index: 999!important;
}
</style>
