<template>
  <div>
    <h2 class=" text-sm-h5 pa-2">Alle User </h2>
    <v-text-field
        v-model="search"
        label="user"
        style="width: 90%"
        class="mx-3"
        prepend-icon="mdi-account-search"

    ></v-text-field>
    <div v-for="(user,index) in filteredList" :key="index">
      <UserItem :user="user"></UserItem>
    </div>
  </div>
</template>

<script>
import UserItem from "@/components/UserItem";

export default {
  name: "ShowUsers",
  components: {
    UserItem
  },
  data: () => ({
    search: ''
  }),
  computed: {
    filteredList() {
      return this.$store.state.users.filter(post => {
        return post.firstname.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
}
</script>

<style scoped>
</style>
