<template>
  <div>
    <v-select
        v-model="selectFriends"
        :items="friends"
        attach
        chips
        label="Friends Einladen"
        multiple

    ></v-select>
  </div>
</template>

<script>
export default {
  name: "TestCom",
  data:()=>({
    selectFriends: [],
    friends: ['Stevan', 'Mareike', 'Susi', 'Selda'],

  })
}
</script>

<style scoped>

</style>