<template>


  <v-row class="mb-2">
    <v-menu
        bottom
        min-width="220px"
        offset-y
    >

      <template v-slot:activator="{ on }">
        <v-list-item v-on="on" class="my-1">
          <v-avatar color="" class="avatar my-2 mx-1" size="43">
            <img :src="require('../assets/avatar/'+ user.userImage)" style="background-size: cover">
          </v-avatar>
          <v-list-item-content>
            <v-list-item-title class="mx-2">{{ user.firstname }} {{ user.lastname }}</v-list-item-title>
            <v-list-item-action-text class="mx-2">{{ user.status }}</v-list-item-action-text>
          </v-list-item-content>
        </v-list-item>
      </template>


      <v-card elevation="3" dense>
        <v-list-item-content class="justify-start ">
          <div class="mx-auto text-center">
            <v-avatar
                color=""
                class="avatar">
              <img :src="require('../assets/avatar/'+user.userImage)" class="mb-2">
            </v-avatar>
            <h3 class="my-2">{{ user.firstname }} {{ user.lastname }}</h3>
            <v-list-item-subtitle class="mt-2">
              <v-list-item-action-text>Email: {{ user.email }}</v-list-item-action-text>
            </v-list-item-subtitle>
            <v-list-item-subtitle class="mt-2">
              <v-list-item-action-text class="">Status: {{ user.status }}</v-list-item-action-text>

            </v-list-item-subtitle>
            <v-list-item-subtitle class="mt-2">
              <v-list-item-action-text class="">Wohnort: {{ user.wohnort }}</v-list-item-action-text>

            </v-list-item-subtitle>
            <v-divider class="my-2"></v-divider>
            <v-list-item-subtitle class="mt-2">
              <v-list-item-action-text class="">Gruppen:</v-list-item-action-text>

            </v-list-item-subtitle>
            <v-chip v-for="group in user.groupEntityList" :key="group.groupId"
                    :color="group.color"
                    class="mx-1 mt-1 white--text"
                    small>{{ group.groupName }}
            </v-chip>
            <v-divider class="my-2"></v-divider>
            <v-btn
                depressed
                outlined
                text
                @click="showGroupBtn(user)">Chat
            </v-btn>
          </div>
        </v-list-item-content>
      </v-card>
    </v-menu>
  </v-row>
</template>

<script>
export default {
  name: "UserItem",
  data: () => ({
    dialog: false,
  }),
  props: {
    user: Object,
  },
  methods: {
    async showGroupBtn(user) {
      if (this.$route.path == "/privat-chat/") {
        await this.$store.dispatch("privateChat", user.userId).then(this.$store.dispatch("getChats"))
      } else {
        await this.$store.dispatch("privateChat", user.userId).then(this.$router.push("/privat-chat/"))
            .then(this.$store.dispatch("getChats"))
      }
      this.$store.commit("setChatUserInfo", user)
      this.dialog = false
      console.log(user)
    }
  }
}
</script>

<style scoped>
.avatar {
  border: #00646C 2.5px solid;
  background-color: white
}
</style>
