<template>
  <div>

    <!--  oben-->
    <v-row style="background-color: #00646C" class="elevation-3 rounded overflow-x-hidden overflow-y-auto ">
      <v-col cols="6">
        <v-row class="">
          <v-list-item-avatar
              height="50px"
              width="50px"
              class="avatar elevation-3">
            <img :src="require('../../assets/avatar/'+getChatUserInfo.userImage)">
          </v-list-item-avatar>
          <h2 class="white--text font-weight-light mt-3 ">Chat with {{ getChatUserInfo.firstname.toUpperCase() }}
          </h2>
        </v-row>
      </v-col>

      <v-col>
        <v-btn color="white"
               outlined
               class="float-end mr-2">
          <router-link
              to="/user"
              class="white--text">Gruppen Übersicht
          </router-link>
        </v-btn>
      </v-col>
    </v-row>

    <!--  mitte-->
<!-- Chat-->
    <div class="mt-3">
      <v-sheet
          class="py-3 overflow-x-hidden overflow-y-auto"
          height="69vh">
        <v-container fluid>
          <div v-for="(message, index) in this.$store.state.chatDetails.messageEntityList" :key="index">
            <v-card class="d-flex mb-6" :class="whitchUser(message.userId,getUserId)" elevation="0">
              <v-card
                  outlined
                  elevation="2"
                  :color="whitchColor(message.userId,getUserId)"
                  :min-width="whitchWidth(message.userId,getUserId)"
                  max-width="60%"
                  class="white--text">
                <v-card-title class="font-weight-light" :class="message.userId == 1 ? 'justify-center':''">
                  {{message.messageText}}
                </v-card-title>
                <v-card-subtitle class="white--text" :class="message.userId == 1 ? 'text-center':'justify-start float-end '">
                  {{ formatdate(message.messageDate) }}
                </v-card-subtitle>
              </v-card>
            </v-card>
          </div>
        </v-container>
      </v-sheet>
    </div>

    <!--unten-->
    <v-sheet class="chatbottom" rounded>
      <v-container>
        <v-row class="ml-5">

          <button @click="toogleDialogEmoji">😃</button>
          <v-emoji-picker
              v-show="showDialog "
              :style="{ width: '440px', height: '200' ,position: 'absolute',bottom:'0', zIndex: '999'}"
              labelSearch="Search"
              @select="onSelectEmoji">
          </v-emoji-picker>

          <v-col
              cols="12"
              md="10" sm="6">

            <v-textarea
                placeholder="Deine Nachricht hier "
                dense
                accept="image/*"
                rows="1"
                row-height="20"
                no-resize
                color="white"
                dark
                clearable
                v-model="messageText">
            </v-textarea>
          </v-col>
          <v-col
              cols="12"
              md="1" sm="6">
            <v-btn dark medium color="white" outlined @click="sendMessage()"> Senden</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-sheet>
  </div>
</template>

<script>
import {VEmojiPicker} from 'v-emoji-picker';

export default {
  name: "PrivatChat",
  components: {
    VEmojiPicker
  },
  data: () => ({
    show: false,
    hover: false,
    hoverComment: false,
    messages: 0,
    overlay: false,
    zIndex: 999,
    comment: '',
    messageText: '',
    showDialog: false,
    chatInterval: ''
  }),
  methods: {
    async sendMessage() {
      await this.$store.dispatch("sendMessage", this.messageText)
      await this.$store.dispatch("getChats")
      this.messageText = ""
    },

    whitchUser(user, userX) {
      if (user == userX) {
        return 'justify-end'
      } else if (user == 1) {
        return 'justify-center systemMessage'
      } else {
        return 'justify-start'
      }
    },
    whitchColor(user, userX) {
      if (user == userX) {
        return '#00646C'
      } else if (user == 1) {
        return 'grey'
      } else {
        return 'primary'
      }
    },
    whitchWidth(user, userX) {
      if (user == userX) {
        return '30%'
      } else if (user == 1) {
        return '70%'
      } else {
        return '30%'
      }
    },
    formatdate(date) {
      let formatDate = new Date(date);
      return formatDate.toLocaleDateString() + ' ' + formatDate.toLocaleTimeString();
    },
    toogleDialogEmoji() {
      console.log("Toogle!");
      this.showDialog = !this.showDialog;
    },
    onSelectEmoji(emoji) {
      this.messageText += emoji.data;
      this.showDialog = false
      // Optional
      // this.toogleDialogEmoji();
    }

  },
  computed: {
    getChatUserInfo() {
      return this.$store.state.chatUserInfo
    },
    getUserId() {
      return this.$store.state.user.userId
    }
  },
  mounted() {
    this.chatInterval = setInterval(() => {
      this.$store.dispatch("updateChat")
    }, 1000)
  },


  beforeDestroy() {
    clearInterval(this.chatInterval)
  }
}
</script>

<style scoped>
.chatbottom {
  background-color: rgba(0, 100, 108, 1);

}


</style>
