<template>
  <div>
    <!--start screen with project defination-->
    <v-parallax
        :src="require(`/src/assets/social-media-gfd0cb4713_1280.png`)"
        class=""
        height="500"
        cols="12"
    >
      <v-row
          align="center"
          justify="center"
      >
        <v-col
            class="text-center"
            cols="9"
        >
          <v-card
              :elevation="3"
              class=" mt-7 pa-5"
              style="background-color: rgba(255,255,255,0.6);
                  backdrop-filter: blur(4px);
                  -webkit-backdrop-filter: blur(15);">
            <h1 class="text-sm-h3 font-weight-thin">
              A Place to be.....
            </h1>
            <h3 class="subheading text-sm-h6 font-weight-light"
                style="font-weight: 500;
                    color:#00646C;
                    ">
              Du willst Teil einer öffentlichen Fitnessgruppe,<br>
              einer Weltweiten Kunst-Gemeinschaft oder einer IT Gesellschaft sein....<br>
              Ein Ort an dem es leicht ist, zu informieren und am neuesten Stand zu bleiben,<br>
              mit anderen interagieren und eigene Gruppe erstellen?<br>
              Dann teste jetzt Asocia.
            </h3>
            <v-btn
                class="ma-2 white--text"
                large
                color="#00646C"

            >
              <router-link to="/login" class="white--text">werde Mietglied
              </router-link>
            </v-btn>
          </v-card>
        </v-col>
      </v-row>
    </v-parallax>

    <h2 class="text-center mt-16 text-uppercase">What is Asocia? </h2>
    <v-container class="mt-5">
      <v-row
          align="center"
          justify="center">
        <v-col class="text-center">
          <v-card class="mx-auto" max-width="500">
            <v-img :src="require(`/src/assets/people-gae1399e27_1280.png`)" height="500px"></v-img>
          </v-card>
        </v-col>
        <v-col class="text-center grid-list-md text-xs-center">
          <v-layout row wrap>
            <v-flex xs12>
              <h3>Inspiration hohlen </h3>
              <p>Ein soziales Netzwerk ist ein Onlinedienst, der die Möglichkeit zu Informationsaustausch und
                Beziehungsaufbau bietet.
                Eine dadurch entstehende Online-Community kommuniziert und interagiert digital entsprechend den
                Möglichkeiten von Asocia</p>
            </v-flex>
          </v-layout>
          <v-btn
              outlined
              color="#00646C"
              class="ma-2"
          >
            <router-link to="/login" style="color: #00646C">Zur Platfform
            </router-link>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>

    <v-container>
      <v-row
          align="center"
          justify="center">
        <v-col class="text-center">
          <h3>Auf den neuersten Stand bleiben</h3>
          <p>Spaß haben und jede Menge neue Leute kennenlernen – Asocia bietet spannende Themen und die Möglichkeiten
            kostenfrei, schnell und sicher mit neuen Menschen in deiner Stadt oder Umgebung in Kontakt zu treten.</p>
          <v-btn
              outlined
              color="#00646C"
          >
            <router-link to="/login" style="color: #00646C">Regestriere dich
            </router-link>
          </v-btn>
        </v-col>
        <v-col class="text-center">
          <v-card
              class="mx-auto mb-10"
              max-width="500"
          >
            <v-img :src="require(`/src/assets/social-media-g0507d61b4_1280.png`)" height="500px"></v-img>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <v-parallax
        dark
        :src="require(`/src/assets/communication-g3eed4764c_1920.jpg`)"
        class=""
        height="500"
        cols="12"
    >
      <v-row
          align="center"
          justify="center">
        <v-col
            class="text-center"
            cols="9">
          <v-card :elevation="3"
                  class="pa-7 "
                  style="background-color: rgba(255,255,255,0.6);
                       backdrop-filter: blur(4px);
                      -webkit-backdrop-filter: blur(15);"

          >

            <v-row justify="center" class="mb-5 mt-5">
              <v-btn
                  large
                  icon
                  color="#00646C">
                <v-icon>mdi-thumb-up</v-icon>
              </v-btn>

              <div class="mx-2"></div>
              <v-btn
                  large
                  icon
                  color="#00646C"
              >
              <v-icon>mdi-chat</v-icon>
              </v-btn>

              <div class="mx-2"></div>

              <v-btn
                  large
                  color="#00646C"
                  icon
              >
                <v-icon>mdi-account</v-icon>
              </v-btn>

              <div class="mx-2"></div>

              <v-btn
                  icon
                  large
                  color="#00646C">
                <v-icon icon>
                mdi-email
              </v-icon></v-btn>


            </v-row>
            <p class="">
              Werde ein Teil einer öffentlichen Fitnessgruppe,Kunst-Community,einer IT Gesellschaft!!<br>
              Oder erstelle ganz einfach deine eigene Gruppe und lasse andere User Teilhaben. <br>
              Eröffne einen Chat und Privat Nachrichten auszutauschen.<br>
              Teste jetzt Asocia
            </p>
            <v-btn
                class="ma-2"
                color="#00646C"
            >
              <router-link to="/login" class="white--text">Und werde Mietglied
              </router-link>
            </v-btn>
          </v-card>

        </v-col>
      </v-row>

    </v-parallax>

    <v-container class="mt-10">
      <v-row>
        <v-col class="text-center">
          <v-card
              class="mx-auto"
              max-width="400"
          >
            <v-img
                :src="require(`/src/assets/analyses-g05e2d6d01_1280.png`)"
                height="500px"
            ></v-img>

            <v-card-actions>
              <v-btn
                  color="#00646C"
                  text
              >
                Privates Profile
              </v-btn>

              <v-spacer></v-spacer>

              <v-btn
                  icon
                  @click="show = !show"
              >
                <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-actions>

            <v-expand-transition>
              <div v-show="show">
                <v-divider></v-divider>

                <v-card-text>
                  <v-list dense>

                    <v-list-item-group
                        color="#00646C"
                    >
                      <v-list-item
                          v-for="(item, i) in items"
                          :key="i"
                      >
                        <v-list-item-icon>
                          <v-icon v-text="item.icon"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title v-text="item.text"></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
        <v-col class="text-center">
          <v-card
              class="mx-auto"
              max-width="400"
          >
            <v-img
                :src="require(`/src/assets/students-g5de87b693_1280.png`)"
                height="500px"
            ></v-img>

            <v-card-actions>
              <v-btn
                  color="#00646C"
                  text
              >
                Business Profile
              </v-btn>

              <v-spacer></v-spacer>

              <v-btn
                  icon
                  @click="show1 = !show1"
              >
                <v-icon>{{ show1 ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
              </v-btn>
            </v-card-actions>

            <v-expand-transition>
              <div v-show="show1">
                <v-divider></v-divider>
                <v-card-text>
                  <v-list dense>
                    <v-list-item-group
                        color="primary"
                    >
                      <v-list-item
                          v-for="(itemb, i) in itemsb"
                          :key="i"
                      >
                        <v-list-item-icon>
                          <v-icon
                              v-text="itemb.icon">
                          </v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                          <v-list-item-title
                              v-text="itemb.text"></v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>
                    </v-list-item-group>
                  </v-list>
                </v-card-text>
              </div>
            </v-expand-transition>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <!--FORM Component -->
    <LandingPageForm></LandingPageForm>

    <!--Footer-->
    <v-footer padless color="#00646C">
      <v-col
          class="text-center"
          cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>ASOCIA</strong>
      </v-col>
    </v-footer>

  </div>
</template>


<script>

import LandingPageForm from "@/components/LandingPageForm";

export default {
  name: "landing-page",
  data: () => ({
    show: false,
    show1: false,
    icons: [
      'mdi-facebook',
      'mdi-twitter',
      'mdi-linkedin',
      'mdi-instagram',
    ],
    items: [
      {text: 'Social Media Plattform', icon: 'mdi-check'},
      {text: 'Freunde Einladen', icon: 'mdi-check'},
      {text: 'Neue Gruppen erstellen', icon: 'mdi-check'},
      {text: 'Beiträge Posten', icon: 'mdi-check'},
      {text: 'Beiträge liken', icon: 'mdi-check'},
      {text: 'Free Using', icon: 'mdi-check'},
    ],
    itemsb: [
      {text: 'Bald kannst du es nutzen', icon: 'mdi-check'},
      {text: 'Werbung Schalten', icon: 'mdi-check'},
      {text: 'Gezielte Werbung nach Kategorien', icon: 'mdi-check'},
      {text: 'Volle Kontrolle', icon: 'mdi-check'},
      {text: 'Ganz nah an deiner Zielgruppe', icon: 'mdi-check'},
      {text: 'genieße alle Vorteile', icon: 'mdi-check'},
      {text: 'nur 1€ pro Monat', icon: 'mdi-check'},
    ],
  }),
  components: {
    LandingPageForm
  }

}
</script>

<style>
h1 {
  color: #00646C
}

v-icon:hover {
  color: white !important;
}
</style>
