<template>
  <div>
    <v-main class="background">
      <!--boxen-->
      <section>
        <div class="box">
          <div class="square" style="--i:0;"></div>
          <div class="square" style="--i:1;"></div>
          <div class="square" style="--i:2;"></div>
          <div class="square" style="--i:4;"></div>
          <div class="square" style="--i:3;"></div>
          <div class="square" style="--i:5;"></div>

          <!--button login and registration-->
          <v-container class="mt-10">
            <v-row justify="center">
              <v-btn-toggle
                  class="mt-16 owncolors"
              >
                <v-btn
                    outlined
                    @click="showLogin()">Login
                </v-btn>
                <v-btn
                    outlined
                    @click="showRegi()">Registrierung
                </v-btn>
              </v-btn-toggle>
            </v-row>

            <!--login component-->
            <v-row v-if="showLoginContent" justify="center">
              <v-col
                  cols="12"
                  sm="10"
                  md="8"
                  lg="6"

              >
                <login></login>
              </v-col>
            </v-row>

            <!--registration component-->
            <v-row v-if="showRegistrationContent" justify="center">
              <v-col
                  cols="12"
                  sm="10"
                  md="8"
                  lg="6"
              >
                <registration></registration>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </section>
    </v-main>
  </div>
</template>

<script>

import registration from "@/components/Registration";
import login from "@/components/Login";

export default {
  name: "login-registration",
  components: {
    login,
    registration
  },

  data() {
    return {
      text: 'center',
      showLoginContent: true,
      showRegistrationContent: false,
    }
  },
  methods: {
    showRegi() {
      this.showLoginContent = false
      this.showRegistrationContent = true
    },
    showLogin() {
      this.showLoginContent = true
      this.showRegistrationContent = false
    },
  },


}
</script>

<style scoped>

.background {
  margin-top: 160px !important;

}

section {

  /*background: linear-gradient(to bottom,#00646C, #056c00);*/
  margin-top: -100px;
}


.owncolors {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(10px) !important;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1) !important;
}

.box {
  position: relative;
}

.box .square {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);

  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-2s * var(--i));
}


@keyframes animate {
  0%, 100% {
    transform: translateY(-40px);
  }
  50% {
    transform: translateY(40px);
  }

}

.box .square:nth-child(1) {
  top: 50px;
  left: 60px;
  height: 100px;
  width: 100px;
  background-color: rgba(70, 216, 64, 0.33);
}

.box .square:nth-child(1):before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid rgba(70, 216, 64, 0.33);
  border-bottom: 13px solid transparent;
  margin: 30px 0 0 100px;
  transform: scaleX(-1);
}


.box .square:nth-child(2) {
  top: 300px;
  left: 200px;
  height: 100px;
  width: 200px;
  border-radius: 30px !important;
}

.box .square:nth-child(2):before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid rgba(255, 255, 255, 0.3);
  border-bottom: 13px solid transparent;
  margin: 30px 0 0 -26px;
}

.box .square:nth-child(4) {
  top: 50px;
  right: 100px;
  width: 120px;
  height: 80px;
  background: #037CA9;
  position: absolute;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.box .square:nth-child(4):before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #037CA9;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;

}

.box .square:nth-child(3) {
  top: 50px;
  left: 250px;
  width: 120px;
  height: 80px;
  background: rgba(3, 124, 169, 0.72);
  position: absolute;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;


}

.box .square:nth-child(3):before {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 13px solid transparent;
  border-right: 26px solid rgba(3, 124, 169, 0.72);
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 120px;
  transform: scaleX(-1);
}


.box .square:nth-child(5) {
  top: 150px;
  right: 400px;
  height: 100px;
  width: 100px;
  background: rgba(255, 255, 255, 0.4);

}

.box .square:nth-child(5):before {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 13px solid transparent;
  border-right: 26px solid rgba(255, 255, 255, 0.4);
  border-bottom: 13px solid transparent;
  margin: 50px 0 0 -26px;

}

.box .square:nth-child(6) {
  top: 300px;
  right: 200px;
  height: 100px;
  width: 250px;
  background: rgba(70, 216, 64, 0.33);
  border-radius: 30px !important;

}

.box .square:nth-child(6):before {
  content: "";
  position: absolute;
  width: 0;
  height: 10px;
  border-top: 13px solid transparent;
  border-right: 26px solid rgba(70, 216, 64, 0.33);
  border-bottom: 13px solid transparent;
  margin: 50px 0 0 250px;
  transform: scaleX(-1);

}

</style>
