<template>
  <v-main class="mymargin px-4">
    <v-row>

      <!--LINKS-->
      <v-col
          cols="12"
          sm="2"
      >
        <v-sheet
            height="80vh"
            class="py-3 overflow-y-auto overflow-x-hidden"
            rounded="lg"
            :elevation="3"
        >
          <!--User Edit Component / User Name and Avatar Change on Click icon-->
          <user-edit></user-edit>
          <!--left side overview groups friends chat-->
          <v-main class=" mt-5  py-3 rounded-t-sm ">
            <!--left section v-expand Group & Chat-->
            <user-groups></user-groups>
            <my-chat></my-chat>
          </v-main>
        </v-sheet>
      </v-col>

      <!--MITTE-->
      <v-col
          cols="12"
          sm="8"
      >
        <v-sheet
            rounded="lg"
            :elevation="3"

        >
          <router-view></router-view>
        </v-sheet>
      </v-col>

      <!--RECHTS-->
      <v-col
          cols="12"
          sm="2"
      >
        <v-sheet
            rounded="lg"
            height="80vh"
            color=""
            :elevation="3"
            class="overflow-y-auto overflow-x-hidden"
        >
          <show-users></show-users>
        </v-sheet>
      </v-col>
    </v-row>
  </v-main>

</template>

<script>
import userEdit from "@/components/user/UserEdit";
import UserGroups from "@/components/user/UserGroups";
import myChat from "@/components/user/MyChat";
import showUsers from "@/components/ShowUsers";


export default {
  name: "user-dashboard",
  components: {
    UserGroups,
    userEdit,
    myChat,
    showUsers
  },

  async mounted() {
    await this.$store.dispatch('allUser')
    await this.$store.dispatch("getChats")

  },
  computed: {}

}
</script>

<style scoped>
.mymargin {
  margin-top: 100px;

}

</style>
