<template>
    <v-app>
      <v-app-bar
          fixed
      >
         <router-link to="/">
           <v-img max-height="70"
                  max-width="70"
                  src="../src/assets/logo1.png">
           </v-img>
         </router-link>
        <v-spacer></v-spacer>
        <logo-log-in></logo-log-in>
      </v-app-bar>


      <v-main>
        <router-view></router-view>

      </v-main>
    </v-app>
</template>


<script>
import logoLogIn from "@/components/LogoLogIn";
export default {
  name: 'App',

  components: {
    logoLogIn
  },

  data: () => ({
    //
  }),
};
</script>
<style>
html{
  overflow-y: auto !important;
}

/*width*/
::-webkit-scrollbar {
  background-color: #00646C;
  width: 2px
}

/* Track */
::-webkit-scrollbar-track {
  background:  white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  #00646C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  black;
}

</style>
