<template>
<div>
  <div class="rounded-bl">
  </div>
  <div class="grey--text">
    <v-divider></v-divider>
    <overview-group></overview-group>
  </div>

</div>
</template>

<script>
import overviewGroup from "@/components/user/OverviewGroup";

export default {
  name: "GroupOverview",
  components: {

    overviewGroup,
  }
}
</script>

<style scoped>

</style>
