<template>
<div>

<h2>^slip here the overview group show my groups </h2>

</div>
</template>

<script>
export default {
  name: "MyGroups",
  methods: {
    showGroupBtn(group) {
      //this.$store.state.selectedGroup = group;
      this.$router.push("/smp-overview/" + group)
    },
  },


}
</script>

<style scoped>

</style>