<template>
  <v-card
      width="95%"
      outlined
      elevation="2"
      colored-border
      class="bordertest "
  >
    <v-img
        :src="groupDetails.postImage"
        class="white--text align-end"
        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
        height="200px"
        @click="overlay = !overlay"
    >
    </v-img>

    <v-fade-transition>
      <v-overlay
          :z-index="zIndex"
          :value="overlay"
      >
        <v-img
            :src="groupDetails.postImage"
            class="white--text align-end"
            height="90vh"
            width="90vw"
            contain
            style="background-color: rgba(255,255,255,0)">

        </v-img>

        <v-row justify="center">
          <v-btn
              class="white--text text-center"
              color="teal"
              @click="overlay = false"
          >
            Hide Overlay
          </v-btn>
        </v-row>
      </v-overlay>
    </v-fade-transition>


    <v-list-item class="mx-3 mt-2">
      <v-list-item-avatar class=""  size="43">
        <img :src="require('../../assets/avatar/'+groupDetails.userEntity.userImage)" style="background-size: cover">
      </v-list-item-avatar>
      <v-list-item-title>{{ groupDetails.userEntity.firstname }} {{ groupDetails.userEntity.lastname }}
        <v-list-item-subtitle v-text="formatdate(groupDetails.postDate)"></v-list-item-subtitle>
      </v-list-item-title>


      <v-badge :value="hover"
               color="deep-purple accent-4"
               :content="groupDetails.likeList.length"
               left
               transition="slide-x-transition"
      >
      </v-badge>

      <v-hover v-model="hover">
        <v-icon
                @click="likeToPost(groupDetails.postId,schonGeliked(groupDetails, $store.state.user) )"
                :color="schonGeliked(groupDetails, this.$store.state.user)">mdi-heart
        </v-icon>
      </v-hover>


      <v-btn
          icon color="#00646C"
          v-if="this.$store.state.user.email === groupDetails.userEntity.email">
        <v-icon
            @click="deletePost(groupDetails.postId)">mdi-delete {{ groupDetails.postId }}</v-icon>
      </v-btn>

      <v-btn
          icon
          color="primary">
        <v-icon>mdi-bookmark</v-icon>
      </v-btn>

      <v-btn
          icon
          color="green">
        <v-icon>mdi-share-variant</v-icon>
      </v-btn>
    </v-list-item>

    <v-card-actions>
      <v-card-text class="mx-7">
        {{ groupDetails.postText }}
      </v-card-text>
    </v-card-actions>


    <v-btn
        icon
        @click="show = !show"
        class="float-end"
    >
      <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
    </v-btn>

    <v-expand-transition>
      <div v-show="show">
        <v-divider></v-divider>

        <v-container class="mt-5">
          <v-list v-for="commentInfo in groupDetails.commentList" :key="commentInfo.commentId">
            <v-list-item>
              <v-list-item-avatar color="grey darken-1">
                <img :src="require('../../assets/avatar/'+commentInfo.userEntity.userImage)">
              </v-list-item-avatar>
              <v-list-item-content>
                <v-list-item-title>{{ commentInfo.userEntity.firstname }}{{ commentInfo.userEntity.lastname }}
                </v-list-item-title>
                <v-list-item-subtitle>{{ formatdate(commentInfo.commentDate) }}</v-list-item-subtitle>
                <v-list-item-action-text>{{ commentInfo.commentText }}</v-list-item-action-text>
              </v-list-item-content>
            </v-list-item>
            <v-divider></v-divider>


          </v-list>
        </v-container>
        <v-container>
          <v-row>
            <v-col
                cols="12"
                md="2">
            </v-col>
            <v-col
                cols="12"
                md="8">
              <v-textarea
                  v-model="comment"
                  name="input-7-1"
                  label="Dein Beitrag posten"
                  value="hier den beitrag kommentieren"
                  hint="bitte achte auf deine Wortwahl und behandle deinen nächsten respektvoll"
                  aria-valuemax="100"
                  filled
                  color="#00646C"
                  class="text-center"
                  prepend-inner-icon="mdi-comment"
                  required>
              </v-textarea>
            </v-col>
            <v-col
                cols="12"
                md="2">
            </v-col>
            <v-divider></v-divider>
            <v-col
                cols="12"
                md="12"
                class="text-center">
              <v-btn
                  @click="postComment($store.state.user.userId,groupDetails.postId)"
                  outlined
                  color="#00646C">
                Kommentieren
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </v-expand-transition>
  </v-card>
</template>

<script>
// import moment from 'momemt';
import store from "@/store";

export default {
  name: "PostCard",
  data: () => ({
    show: false,
    hover: false,
    hoverComment: false,
    messages: 0,
    overlay: false,
    zIndex: 999,
    comment: '',
  }),
  props: {
    url: String,
    name: String,
    groupDetails: Object
  },
  methods: {
    async postComment(userId, postId) {
      await this.$store.dispatch("postCommentIntoPost", {
        commentText: this.comment,
        userId: userId,
        postId: postId
      })
      if (this.$route.path != "/user-profile/") {
        await this.$store.dispatch("selectedGroup", this.$route.params.id);
      } else {
        await store.dispatch('getSignedInUser')
      }
      this.comment = '';
    },

    schonGeliked(groupDetails, user){
        for (let i = 0; i < groupDetails.likeList.length; i++) {
          if (groupDetails.likeList[i].userEntity.userId == user.userId){
            console.log(false)
            return "red"
          }
        }
        return "grey"
    },
    async deletePost(postId) {

      await this.$store.dispatch("deletePost", postId)
      if (this.$route.path != "/user-profile/") {
        await this.$store.dispatch("selectedGroup", this.$route.params.id);
      } else {
        await store.dispatch('getSignedInUser')
      }


    },
    async likeToPost(postId, geliked) {
      if (geliked == "grey"){
        console.log(postId)
        await this.$store.dispatch("likeToPost", postId)
      }else{
        console.log("schon geliked")
      }

      if (this.$route.path != "/user-profile/") {
        await this.$store.dispatch("selectedGroup", this.$route.params.id);
      } else {
        await store.dispatch('getSignedInUser')
      }

    },

    formatdate(date) {
      let formatDate = new Date(date);
      return formatDate.toLocaleDateString() + ' ' + formatDate.toLocaleTimeString();
    }
  },
}
</script>

<style scoped>
.avatar {
  border: #00646C 2.5px solid;
  border-radius: 75px;
}


</style>
