<template>
  <div>
  <v-autocomplete
      v-model="friends"
      :disabled="isUpdating"
      :items="allUser"
      filled
      chips
      color="blue-grey lighten-2"
      label="Select"
      item-text="email"
      item-value="email"
      multiple
      solo
  >
    <template v-slot:selection="data">
      <v-chip
          v-bind="data.attrs"
          :input-value="data.selected"
          close
          @click="data.select"
          @click:close="remove(data.item)"
      >
        <v-avatar left>
          <v-img :src="imgUrl(data.item.userImage)"></v-img>
        </v-avatar>
        {{ data.item.firstname }}
      </v-chip>
    </template>
    <template v-slot:item="data">
      <template v-if="typeof data.item !== 'object'">
        <v-list-item-content v-text="data.item"></v-list-item-content>
      </template>
      <template v-else>
        <v-list-item-avatar>
          <img :src="imgUrl(data.item.userImage)">


        </v-list-item-avatar>
        <v-list-item-content>
          <v-list-item-title v-html="data.item.firstname"></v-list-item-title>
          <v-list-item-subtitle v-html="data.item.email"></v-list-item-subtitle>
        </v-list-item-content>
      </template>
    </template>
  </v-autocomplete>
    <v-btn
        color="indigo"
        outlined
        text
        @click="$emit('colseDialog'); userEinladen();">Einladen</v-btn>
  </div>

</template>


<script>
export default {
  data() {
    return {
      autoUpdate: true,
      userX:[],
      friends: [],
      isUpdating: false,
      name: 'Midnight Crew',
      title: 'The summer breeze'



    }
  },

  watch: {
    isUpdating(val) {
      if (val) {
        setTimeout(() => (this.isUpdating = false), 3000)
      }
    },
  },
  computed:{
    allUser(){
      return this.$store.state.filterUsers
    }
  },

  methods: {
    remove(item) {
      const index = this.friends.indexOf(item.email)
      if (index >= 0) this.friends.splice(index, 1)
    },
    imgUrl(avatar){
      return require('../../assets/avatar/'+avatar)
    },
    async userEinladen(){
      console.log(this.friends)
      await this.$store.dispatch("setUserIntoGroup",{userEmails:this.friends,id:this.$route.params.id})
      this.friends =""
      this.$router.go()
    },

    filterUser(){
      //this.userX = [...this.allUser]

      //this.userX = Array.from(this.allUser)
      for (let i = 0; i < this.userX.length; i++) {
        for (let j = 0; j < this.$store.state.selectedGroup.userEntityList.length; j++) {
          if (this.userX[i].email === this.$store.state.selectedGroup.userEntityList[j].email){
            this.userX.splice(i, 1)
          }
        }
      }
    }
  },
  async mounted() {
    await this.$store.dispatch('getAllUsersForGroup', this.$route.params.id)
  }
}
</script>


<style scoped>

</style>
