<template>
  <div>
    <!--    oben-->
    <div>
      <v-row style="background-color: #00646C" class="elevation-3 rounded overflow-x-hidden overflow-y-auto">
        <v-col cols="6">
          <h2 class="white--text font-weight-light pa-2 ">{{ this.$store.state.selectedGroup.groupName }}</h2>
        </v-col>
        <v-col cols="6">
          <v-dialog
              v-model="dialog"
              width="500"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                  icon
                  v-bind="attrs"
                  v-on="on"
              >
                <v-icon
                    color="white"
                    class="mt-3"
                    x-large
                >mdi-account-plus
                </v-icon>
              </v-btn>
            </template>

            <v-card>
              <v-card-title
                  class="text-h5 white--text"
                  style="background-color: #00646C"
              >User zu Gruppe hinzufügen
              </v-card-title>

              <v-card-text>
                <v-row
                    align="center">
                  <v-col
                      cols="12">
                    <SelectUser
                        class="mt-4"
                        @colseDialog="dialog=false"></SelectUser>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-dialog>
          <v-btn
              color="white"
              outlined
              class="float-end mr-2 mt-2">
            <router-link
                to="/user"
                class="white--text">Gruppen Übersicht
            </router-link>
          </v-btn>
        </v-col>
      </v-row>
    </div>

    <!--mitte-->

<!--Posts Posts Posts-->

    <div class="mt-3">
      <v-sheet class="py-3 overflow-x-hidden overflow-y-auto"
               height="69vh">
        <v-container fluid>
          <v-row>
            <v-col
                v-for="(groupInfo, index) in this.$store.state.selectedGroup.postList"
                :key="index"
                cols="12"
                class="d-flex justify-center">


              <post-card class="mt-4" :groupDetails="groupInfo"></post-card>


            </v-col>

          </v-row>
        </v-container>
      </v-sheet>
    </div>

    <!--unten-->
    <v-form >
    <v-sheet class="fixpart" rounded >
      <v-container >
        <v-row class="ml-5">
          <v-col class="mt-1" cols="12" md="2" sm="6">
            <v-file-input
                v-model="file"
                dense
                truncate-length="5"
                dark

            ></v-file-input>
          </v-col>
          <v-col
              cols="12"
              md="8" sm="6">

            <v-textarea
                placeholder="Deine Nachricht hier"
                dense
                accept="image/*"
                rows="1"
                row-height="20"
                no-resize
                color="white"
                dark
                clearable
                v-model="description">
            </v-textarea>
          </v-col>

          <v-col
              class="align-center text-center justify-center"
              cols="12"
              md="1" sm="6"
          >
            <v-btn
                dark
                medium
                color="white"
                @click="testPost()" outlined> Senden</v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-sheet>
    </v-form>
  </div>
</template>

<script>
import PostCard from "@/components/smp/PostCard";
import SelectUser from "@/components/smp/SelectUser";

export default {

  name: "SmpOverview",
  components: {
    PostCard,
    SelectUser
  },
  data: () => ({

    file: [],
    dialog: false,
    items: ['hallo', '#', 'halloo2', 'soeindreck'],
    description: '',
    e6: [],
    states: [],
    required: [
      value => !value || value.size < 1000000 || 'File size should not exceeded 1MB!',
    ],
  }),
  methods: {
    async test() {
      console.log(this.file)
      await this.$store.dispatch("addFile", this.file)
      await this.$store.dispatch("getFile")
    },
    async testPost() {
      await this.$store.dispatch("addPost", {
        file: this.file,
        groupId: this.$route.params.id,
        description: this.description
      })
      await this.$store.dispatch("selectedGroup", this.$route.params.id)
    },

  },
  async mounted() {
    await this.$store.dispatch("selectedGroup", this.$route.params.id)

  },
  computed: {
    getUsers() {
      return this.$store.state.users

    }
  }
}


</script>

<style scoped>


::-webkit-scrollbar {
  background-color: #00646C;
  color: white;
  width: 2px;
}

.fixpart {
  background-color: rgba(0, 100, 108, 1);

}


</style>
